/* Background color for whole screen */
body{
 background-color: lightgreen;
}
/* Dimensions for all Buttons */
button{
    margin: 10px;
    padding: 8px 15px;
    background-color: orange;
}
/* Dimensions for Center Box */
.center-box{
    width: 400px;
    padding: 20px;
    background-color: white;  
    text-align: center;
    box-shadow: 0 0 10px gray;
}
/* Font Size declaration for texts of all buttons */
.btn
{
    font-size: 20px;
}